* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "song";
    src: url(../fonts/song.ttf)format("truetype");
}

/*BACKGROUNDS*/

.home, .contact {
    background-image: url(../images/grandcanyon.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.about {
    background-color: #579CA2;
}

.clips{
    background-color: #88BAA3;
}

.resume {
    background-color: #C3D188;
}


/*HEADINGS*/
h1 {
    color: #FFF;
    font-family: Song;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 5px 5px 5px #333;
    padding-top: 50px;
}

h2, h3 {
    color: #FFF;
    font-family: Song;
    font-weight: normal;
    font-size: 1.7em;
    text-shadow: 5px 5px 5px #000;
    border-bottom: 2px solid #FFF;
}

h2 {
    margin-bottom: 20px;
}

header h2 {
    margin: 0;
    border: none;
}

h4 {
    color: #FFF;
    font-family: Song;
    font-weight: normal;
    font-size: 35px;
    text-shadow: 5px 5px 5px #000;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #FFF;
}


/*NAVIGATION*/
nav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 10px 0 0;
    margin: 0;
}

nav a {
    margin: 5px;
    color: #FFF;
    font-size: 28px;
    text-decoration: none;
    font-family: Song;
    font-weight: normal;
}

nav a:hover {
    text-decoration: underline;
}


/*MAIN CONTENT*/
section {
        width: 100%;
        margin: auto;
}


/*HOME SECTION*/
header {
    text-align: center;
}

span {
    font-family: arial;
}

/*ABOUT SECTION*/
#abouttext {
    background-image: url(../images/aboutbox.png);
    width: 432px;
    height: 502px;
    margin-left: 400px;
    padding: 20px 40px 20px 20px;
}

#abouttext p {
    line-height: 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


/*CLIPS SECTION*/
.slide1 {
    
}


/*RESUME SECTION*/
#resume img{
    width: 600px;
    margin-left: 300px;
    -webkit-box-shadow: 5px 5px 5px 5px #333;
    box-shadow: 5px 5px 5px 5px #333;
    border-radius: 20px;
    border: 1px solid #333;
}

/*CONTACT SECTION*/
#contact {
    width: 1200px;
    height: 900px;
}

#contactform {
    background-image: url(../images/contactbox.png);
    width: 430px;
    height: 580px;
    margin-left: 400px;
    padding: 20px 50px 20px 20px;
}

/*
#myform {
    background-image: url(../images/contactbox.png);
    width: 350px;
    height: 530px;
    padding: 20px 50px 20px 20px;
}

label {
    font-size: 25px;
    font-family: Song;
}

input {
    width: 330px;
    padding: 5px;
    margin: 5px;
    border: 1px #4D4D4D solid;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

textarea {
    margin-bottom: 5px;
    border: 1px #4D4D4D solid;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
}

input[type="submit"], input[type="reset"] {
    width: 100px;
    font-size: 25px;
    text-decoration: none;
    font-family: Song;
    font-weight: normal;
    color: #6d6e71;
    background: #9bdecd;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

input[type="submit"] {
    margin-right: 10px;
}


*/

footer {
    text-align: center;
    color: white;
    font-size: 14px;
}