* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "caviar";
    src: url(../fonts/CaviarDreams.ttf)format("truetype");
}

/*SECTION STYLES*/
#home, #contact {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

#about, #clips, #skills {
    background-color: #081F43;
    margin-bottom: 100px;
}

#about_info, #skills_info {
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

#clips_info {
    width: 94%;
    margin: auto;
    padding: 30px 0;
}

#clear {
    clear: both;
}

/*HEADINGS*/
h1 {
    color: #FFF;
    font-family: Caviar;
    font-weight: normal;
    font-size: 2.1em;
    text-align: center;
    letter-spacing: .03em;
    padding-bottom: 20px;
}

h2 {
    color: #FFF;
    font-family: Caviar;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: .037em;
    margin-top: 20px;
    padding: 0 10px;
}

/*HIDE/SHOW INFORMATION*/
.hidden_info {
    display: none;
}

/*LINKS*/
a {
    text-decoration: underline;
    color: #3d7f89;
}

a:visited, a:hover, a:active {
    color: #04c4bb;
}

/*NAVIGATION*/
nav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 70;
    width: 100%;
    padding: 10px 0 0;
    margin: 0;
    background-color: #3a3a3a;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier*/
}

nav a {
    margin: 5px;
    color: #FFF;
    font-size: 1.1em;
    text-decoration: none;
    font-family: Caviar;
    font-weight: normal;
}

nav a:hover {
    text-decoration: underline;
}


/*HOME SECTION*/
header {
    text-align: center;
}

header img {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 30px 0;
}

/*ABOUT SECTION*/
#movie {
    display: none;
}

#abouttext {
    width: 90%;
    max-width: 700px;
    color: #fff;
}

#abouttext p {
    line-height: 20px;
    padding-bottom: 15px;
}

/*CLIPS SECTION*/
.grid {
    width: 100%;
    margin: auto;
}

.grid-item {
    width: 300px;
    margin-bottom: 20px;
}

/*HOVER EFFECTS*/
.pic {
    float: left;
    height: 156px;
    overflow: hidden;
}

.slide img {
    margin-top: 0px;
    -webkit-transition: margin .01s;
    -moz-transition: margin .01s;
    -o-transition: margin .01s;
    -ms-transition: margin .01s;
    transition: margin .01s;
}

.slide img:hover {
  margin-top: -156px;
}

/*SKILLS SECTION*/
#skills {
    text-align: center;
}

#btns {
    width: 100%;
}

.btn {
    padding: 8px;
    background-color: #ccc;
    text-decoration: none;
    font-size: medium;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.btn:focus {
    outline: none;
    background-color: #C0D9D9;
}

#skills_tags {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#skills_tags .mix {
    display: none;
}

#skills_tags span {
    padding: 10px;
    margin-top: 5px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
}

#skills_labels {
    margin-top: 20px;
}

.web {
    background-color: #3d7f89;
}

.design {
    background-color: #04c4bb;
}

.editing {
    background-color: #4591a0;
}

.misc_skills {
    background-color: #57d1a3;
}

.skills a {
    color: #ccc;
    text-decoration: none;
}

.skills a:hover {
    text-decoration: underline;
}

/*CONTACT SECTION*/
#contactform {
    background: #CCC;
    width: 95%;
    max-width: 295px;
    padding: 15px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto 10px;
}

label {
    font-size: 20px;
    font-family: Caviar;
    display: block;
}

input {
    border: 1px #4D4D4D solid;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 95%;
    padding: 5px;
    margin: 5px;
}

textarea {
    border: 1px #4D4D4D solid;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 50px;
}

input[type="submit"], input[type="reset"]{
    width: 80px;
    margin-right: 5%;
    font-size: 20px;
    text-decoration: none;
    font-family: Caviar;
    font-weight: normal;
    color: #6d6e71;
    background-color: #fff; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: inline;
}

footer {
    text-align: center;
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
}

footer img {
    padding: 0 10px 10px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 321px) {
    /*SECTION STYLES*/
    #clips_info {
        width: 90%;
    }

    /*HOME SECTION*/
    header img {
        margin: 0;
    }

    /*CLIPS SECTION*/
    .grid {
        width: 90%;
    }

    /*SKILLS SECTION*/
    .btn {
        padding: 10px;
    }
}/*end 321px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 376px) {
    /*HEADINGS*/
    h1 {
        font-size: 3em;
        padding-bottom: 20px;
    }

    /*CLIPS SECTION*/
    .grid {
        width: 80%;
    }

    /*SKILLS SECTION*/
    #skills_tags {
        width: 90%;
    }

    /*CONTACT SECTION*/
    #contactform {
        width: 80%;
        padding: 20px 50px 20px 20px;
        margin: 0 auto 20px;
    }

    textarea {
        margin-bottom: 10px;
    }
}/*end 376px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 415px) {
    /*CLIPS SECTION*/
    .grid {
        width: 70%;
    }
}/*end 415px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 481px) {
    /*CLIPS SECTION*/
    .grid {
        width: 60%;
    }
}/*end 480px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 569px) {
    /*HEADINGS*/
    h2 {
        font-size: 1.4em;
    }

    /*CLIPS SECTION*/
    .grid {
        width: 50%;
    }
}/*end 569px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 668px) {
    /*CLIPS SECTION*/
    .grid {
        width: 97%;
    }
}/*end 668px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 737px) {
    /*SECTION STYLES*/
    #about_info, #skills_info {
        padding: 100px 0;
    }

    #clips_info {
        width: 80%;
        padding: 100px 0;
    }

    nav a {
        font-size: 1.7em;
    }

    /*HOME SECTION*/
    header img {
        margin: 100px 0;
    }

    /*CLIPS SECTION*/
    .grid {
        width: 700px;
    }
}/*end 737px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 769px) {
    /*SECTION STYLES*/
    #clips_info {
        width: 90%;
    }

    /*HEADINGS*/
    h1 {
        font-size: 3.5em;
    }

    h2 {
        padding: 0;
    }

    /*ABOUT SECTION*/
    #movie {
        float: left;
        width: 48%;
        max-width: 500px;
        display: block;
        border: 1px #000 solid;
    }

    #about_info{
        width: 90%;
    }

    #abouttext {
        float: right;
        width: 50%;
        padding-bottom: 50px;
    }

    /*CLIPS SECTION*/
    .grid {
        width: 1000px;
    }

    /*SKILLS SECTION*/
    .btn {
        padding: 10px;
        font-size: medium;
    }

    #skills_tags {
        width: 80%;
        max-width: 900px;
        margin: auto;
    }
}/*end 769px query*/

/*~~~~~~NEW MEDIA QUERY~~~~~~~*/
@media screen and (min-width: 1025px) {
    /*SECTION STYLES*/
    #about_info{
        width: 1100px;
    }

    #clips_info {
        width: 100%;
    }

    /*CLIPS SECTION*/
    .grid {
        width: 1280px;
    }
}/*end 1025px query*/
