@charset "utf-8";
/* CSS Document */

body {
font-family: palatino, bookman, serif; 
}

div#wrapper {
width: 760px;
margin-left: auto;
margin-right: auto;
}

/* These are the sytles for the links. */

a:link {
color: #00A49D;
text-decoration: underline;
}

a:hover {
color: #92007B;
text-decoration: none;
}

a:active {
color: #92007B;
text-decoration: none;
}

a:visited {
color: #00A49D;
text-decoration: underline;
}

/* This is the end of the link styles. */

#bottom-nav {
width: 760px;
text-align: center;
font-size: 12px;
margin-top: 5px;
}

div#footer {
/* This is the div for the footer, keep it small and centered.*/
width: 760px;
text-align:center;
font-size: 10px;
}