/* This is the stylesheet for my resume and portfolio site. */

body {
background-color: #000;
background-image: url(images/bgimg.gif); 
background-repeat: repeat-x;
font-family: bookman, palatino, serif;
font-size: 12px;
}

div#wrapper {
width: 864px;
margin-left: auto;
margin-right: auto;
padding: 10px;
}

div#navigation {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 17px;
text-align: center;
color: #FFF;
}

#navigation a {
text-decoration:none;
color: #49BDEF;
}

#navigation a:hover {
text-decoration: underline
}

div#content {
margin-left: 123px; /* This moves the content to the left leaving room for a right navigation bar */ 
margin-right: 126px; 
padding-left: 3px;
padding-right: 3px;
text-align: left;
color: #FFF;
font-size: 13px;
font-family:  helvetica, lucida, sans-serif;
}

/* These are the sytles for the links. */

a:link {
color: #20BF9F; 
text-decoration: underline;
}

a:hover, a:active {
color: #0EBFE9;
text-decoration: none;
}

a:visited {
color: #20BF9F;
text-decoration: underline;
}

/* This is the end of the link styles. */

div#footer {
color: #FFF;
text-align: center;
font-size: 10px;
clear: both;
}