/* This is the stylesheet for my resume and portfolio site. */

body {
background-color: #FFFFFF;
background-image: url(images/bgimg.gif); 
background-repeat: repeat-x;
font-family: bookman, palatino, serif;
font-size: 12px;
}

div#wrapper {
width: 864px;
background-color: #FFFFFF; /*#D4ECFB;*/
margin-left: auto;
margin-right: auto;
padding: 10px;
}

#banner {
margin-left: auto;
margin-right: auto;
margin-top: 30px;
padding: 1px;
text-align: center;
clear: left;
}

div#navigation {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 17px;
margin-right: auto;
margin-left: auto;
}

div#navigation ul {
margin: 0;
padding: 0;
list-style: none;
}

div#navigation a {
display: block;
width: 212px;
}

#navigation li {
float: left;
width: 212px;
background: #B0E2FF;
padding-left: 4px;
}

#navigation li ul {
display: none;
}

#navigation li:hover ul {
display: block;
width: 212px;
position: absolute;
}

#navigation a:link {
text-decoration:none;
color: #003F87;
}

#navigation a:visited {
text-decoration:none;
color: #003F87;
}

#navigation a:hover {
text-decoration: underline
}

#navigation a:active {
text-decoration:none;
color: #003F87;
}

/* This is the styles for the sidebar. */

div#lftsdbr {
width: 110px;
float: left;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px;
margin-right: 10px;
margin-left: auto;
padding: 3px;
text-align: left;
font-style: italic;
}

div#lftsdbr p {
text-indent: 0;
}

div#sidebar {
width: 110px;
float: right;
font-size: 16px;
margin-left: 10px;
margin-right: auto;
padding: 3px;
text-align: right;
}

div#sidebar ul {
margin: 0;
padding: 0;
}

#sidebar li {
list-style-type: none;
margin-top: 3px;
margin-right: 0;
margin-bottom: 3px;
margin-left: 0;
}

#sidebar h3 {
text-align: right;
}

/* This is the start of links to other sites styles. */

.links {
font-size: 14px;
}

.links a:link {
text-decoration: none;
color: #000000;
}

.links a:visited {
text-decoration: none;
color: #000000;
}

.links a:hover {
text-decoration: underline;
color: #000000;
}

.links a:active {
text-decoration: none;
color: #000000;
}

/* This is the end of links to other sites styles. */

/* These are the sytles for the links. */

a:link {
color: #20BF9F; /* #0FDDAF;*/
text-decoration: underline;
}

a:hover {
color: #0EBFE9;
text-decoration: none;
}

a:active {
color: #0EBFE9;
text-decoration: none;
}

a:visited {
color: #20BF9F; /* #0FDDAF;*/
text-decoration: underline;
}

/* This is the end of the link styles. */

div#content {
margin-left: 123px; /* This moves the content to the left leaving room for a right navigation bar */ 
margin-right: 126px; 
padding-left: 3px;
padding-right: 3px;
text-align: left;
font-size: 13px;
font-family:  helvetica, lucida, sans-serif;
}

#content ul {
list-style-type: none;
line-height: 16px;
}

h2 {
font-size: 19px;
color: #008DC6;
text-align: center;
}

h3 {
font-family: palatino, bookman, serif;
font-size: 17px;
color: #008DC6;
text-align: left;
}

h4 {
font-size: 15px;
color: black;
}

.right {
float: right;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: 3px;
border-style: ridge;
border-color: black;
}

.rtpln {
float: right;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

.parrot {
border-top: 2px;
border-right: 1px;
border-bottom: 2px;
border-left: 2px;
border-style: solid;
border-color: #000000;
margin-right: auto;
margin-left: auto;
}

.middle {
border-top: 2px;
border-right: 1px;
border-bottom: 2px;
border-left: 1px;
border-style: solid;
border-color: #000000;
margin-right: auto;
margin-left: auto;
}

.flower {
border-top: 2px;
border-right: 2px;
border-bottom: 2px;
border-left: 1px;
border-style: solid;
border-color: #000000;
margin-right: auto;
margin-left: auto;
}

.left {
float: left;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: 3px;
border-style: ridge;
border-color: black;
}

#bottom-nav {
width: 864px;
text-align: center;
font-size: 12px;
clear: both;
}

#bottom-nav a:link {
color: #003F87; 
text-decoration: none;
}

#bottom-nav a:visited {
color: #003F87; 
text-decoration: none;
}

#bottom-nav a:hover {
color: #003F87; 
text-decoration: underline;
}

#bottom-nav a:active {
color: #003F87; 
text-decoration: none;
}

div#footer {
/* This is the div for the footer, keep it small and centered.*/
width: 864px;
text-align: center;
font-size: 10px;
clear: both;
}