/* This is the stylesheet for my resume and portfolio site. */

body {
background-image: url(images/papertext2.jpg); /* the background color was #00A8EC, if you take the image out, put this back*/
background-repeat: repeat;
font-family: palatino, bookman, serif;
font-size: 12px;
}

div#wrapper {
width: 864px;
background-color: #D4ECFB;
margin-left: auto;
margin-right: auto;
padding: 10px;
border: 4px;
border-color: #005073;
border-style: groove;
}

#banner {
margin-left: auto;
margin-right: auto;
padding: 1px;
text-align: center;
}

/* These are the sytles for the links. */

a:link {
color: #00A49D;
text-decoration: underline;
}

a:hover {
color: #92007B;
text-decoration: none;
}

a:active {
color: #92007B;
text-decoration: none;
}

a:visited {
color: #00A49D;
text-decoration: underline;
}

/* This is the end of the link styles. */

div#navigation {
width: 111px;
float: left;
font-size: 16px;
margin-left: auto;
margin-right: 10px;
padding: 3px;
text-align: left;
}

div#navigation ul {
margin: 0;
padding: 0;
}

#navigation li {
list-style-type: none;
margin-top: 10px;
margin-right: 0;
margin-bottom: 10px;
margin-left: 0;
}

/* These are the styles for the navigation. */

#navigation a:link {
display: block; /* this will give equal width to the buttons */
width: 105px; /* This sets the width of the buttons */
text-align: center; /* add this to center the text in the buttons */
color: #FFFFFF;
background-color: #088AC4;
text-decoration: none;
font-weight: bold;
border-style: ridge;
border-width: 3px;
border-color: #FFFFFF;
padding: 3px;
}

#navigation a:visited {
display: block; /* this will give equal width to the buttons */
width: 105px; /* This sets the width of the buttons */
text-align: center; 
color: #FFFFFF;
background-color: #088AC4;
text-decoration: none;
font-weight: bold;
border-style: ridge;
border-width: 3px;
border-color: #FFFFFF;
padding: 3px;
}

#navigation a:hover {
display: block; /* this will give equal width to the buttons */
width: 105px; /* This sets the width of the buttons */
text-align: center; 
color: #088AC4;
background-color: #FFFFFF;
text-decoration: none;
font-weight: bold;
border-style: ridge;
border-width: 3px;
border-color: #088AC4;
padding: 3px;
}

#navigation a:active {
display: block; /* this will give equal width to the buttons */
width: 105px; /* This sets the width of the buttons */
text-align: center; 
color: #FFFFFF;
background-color: #088AC4;
text-decoration: none;
font-weight: bold;
border-style: ridge;
border-width: 3px;
border-color: #FFFFFF;
padding: 3px;
}

/* This is the end of the navigation styles. */

/* This is the start of links to other sites styles. */

.links {
font-size: 14px;
}

.links a:link {
text-decoration: none;
color: #000000;
}

.links a:visited {
text-decoration: none;
color: #000000;
}

.links a:hover {
text-decoration: underline;
color: #000000;
}

.links a:active {
text-decoration: none;
color: #000000;
}

/* This is the end of links to other sites styles. */

div#content {
margin-left: 133px; /* This moves the content to the left leaving room for a right navigation bar */ 
padding-left: 3px;
padding-right: 3px;
text-align: left;
font-size: 13px;
font-family:  helvetica, lucida, sans-serif;
}

p {
text-indent: 18px;
}

h2 {
font-size: 19px;
color: #008DC6;
text-align: center;
}

h3 {
font-family: palatino, bookman, serif;
font-size: 17px;
color: #008DC6;
text-align: left;
}

h4 {
font-size: 15px;
color: black;
}

.right {
float: right;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: 3px;
border-style: ridge;
border-color: black;
}

.sat {
float: right;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

.parrot {
border-top: 2px;
border-right: 1px;
border-bottom: 2px;
border-left: 2px;
border-style: solid;
border-color: #000000;
margin-right: auto;
margin-left: auto;
}

.middle {
border-top: 2px;
border-right: 1px;
border-bottom: 2px;
border-left: 1px;
border-style: solid;
border-color: #000000;
margin-right: auto;
margin-left: auto;
}

.flower {
border-top: 2px;
border-right: 2px;
border-bottom: 2px;
border-left: 1px;
border-style: solid;
border-color: #000000;
margin-right: auto;
margin-left: auto;
}

.left {
float: left;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
border: 3px;
border-style: ridge;
border-color: black;
}

#bottom-nav {
width: 864px;
text-align: center;
font-size: 12px;
clear: both;
}

div#footer {
/* This is the div for the footer, keep it small and centered.*/
width: 864px;
text-align: center;
font-size: 10px;
clear: both;
}