/* This is the stylesheet for my current resume and portfolio site. */

body {
	background-image: url(images/bgrd.jpg);
	background-repeat: repeat;	
	background-color: #FFF;
	font-family: Comic Sans MS, Comic Sans MS5, cursive;
	/*Verdana, Helvetica, sans-serif;*/
	font-size: 12px;
}

#banner {
	width: 100%;
	margin: 0 0 18px 0;
	padding: 0;
 	background: #fff; /*0EBFE9;*/
 	position: relative;
 	height: 50px;
 	text-align: center;
}

#banner h1 {
	padding: 5px 0 0 5px;
	margin: 13px 20px 0 0;
	font-size: 30px;
	font-family: "Palatino Linotype", Georgia, serif;
	line-height: .5em;
 	text-align: center;
	color: #0EBFE9;
}

#banner h1 span {
	color: #A8A8A8;
}

#wrapper {
	width: 760px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 4px;
}

div#navigation {
width: 105px;
float: left;
font-size: 13px;
margin-left: 125px;
margin-right: 10px;
padding: 3px;
text-align: left;
}

div#navigation ul {
margin: 0;
padding: 0;
}

#navigation li {
list-style-type: none;
margin-top: 20px;
margin-right: 0;
margin-bottom: 20px;
margin-left: 0;
}

/* These are the styles for the navigation. */

#navigation a:link {
display: block; /* this will give equal width to the buttons */
width: 95px; /* This sets the width of the buttons */
text-align: center; /* add this to center the text in the buttons */
color: #9E9E9E;
background-color: #FFF;
text-decoration: none;
padding: 3px;
}

#navigation a:visited {
display: block; /* this will give equal width to the buttons */
width: 95px; /* This sets the width of the buttons */
text-align: center; /* add this to center the text in the buttons */
color: #9E9E9E;
background-color: #FFF;
text-decoration: none;
padding: 3px;
}

#navigation a:hover {
display: block; /* this will give equal width to the buttons */
width: 95px; /* This sets the width of the buttons */
text-align: center; /* add this to center the text in the buttons */
color: #333;
background-color: #FFF;
text-decoration: none;
padding: 3px;
}

#navigation a:active {
display: block; /* this will give equal width to the buttons */
width: 95px; /* This sets the width of the buttons */
text-align: center; /* add this to center the text in the buttons */
color: #9E9E9E;
background-color: #FFF;
text-decoration: none;
padding: 3px;
}

#navigation li#active a {
	text-decoration: underline;
}

/* These are the styles for the links. */

a:link {
color: #0198E1;
text-decoration: underline;
}

a:hover {
color: #0EBFE9;
text-decoration: none;
}

a:active {
color: #0EBFE9;
text-decoration: none;
}

a:visited {
color: #0198E1; 
text-decoration: underline;
}

/* This is the end of the link styles. */

div#content {
	width: 400px;
	margin-left: 250px;
	margin-right: 300px; 
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	font-size: 13px;
}

#content ul {
	list-style-type: none;
	line-height: 16px;
}

h2 {
	font-size: 19px;
	color: #9E9E9E;
	text-align: center;
}

h3 {
	font-family: palatino, bookman, serif;
	font-size: 17px;
	color: #008DC6;
	text-align: left;
}

h4 {
	font-size: 13px;
	color: #87CEFA;
}

#quote {
	width: 140px;
	float: right;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 60px;
}
	

/*
#resume {
	width: 700px;
	margin-left: 50px;
	margin-right: 200px; 
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
}

#box {
	width: 470px;
	margin-left: 200px;
	margin-right: 200px; 
	padding-left: 3px;
	padding-right: 3px;
}

#tower, #satellite, #other {
	width: 150px;
	margin: 7px;
	padding: 0;
	float: left;
}

/*These are the styles for photos, clips, flash and portfolio (p). One, onea, oneb, onec, oned, onee, pone, ponea, poneb are the same. Three, threea, threeb and threec are the same. */

/*
#one, #onea, #oneb, #onec, #oned, #onee, #pone, #ponea, #poneb, #ponec {
	width: 200px;
	margin: 12px;
	padding: 0;
	float: left;
}

#three, #threea, #threeb, #threec, #pthree, #pthreea {
	width: 200px;
	margin: 12px;
	padding: 0;
	float: left;
	clear: both;
}

#ponec ul {
	list-style-type: none;
	line-height: 16px;
}	

#five {
	width: 200px;
	margin: 12px 125px 12px 125px;
	padding: 0;
	float: left;
}

#six {
	width: 400px;
	padding: 0;
}

.tower, .gator {
	margin-top: 30px;
	margin-bottom: 45px;
}

img.alignnone {
	margin-right: 7px;
	margin-bottom: 0;
}

/* end styles */

/*
.boxlayout {
	margin: 10px;
	border: 2px solid #000;
}

.right {
	float: right;
	margin: 10px 0 10px 10px;
	border: 2px solid #000;
}

.rtnoborder {
	float: right;
	margin: 5px 0 5px 5px;
}

.left {
	float: left;
	margin: 10px 10px 10px 0;
	border: 2px solid #000;
}
*/

#bottom {
	margin: 0;
	padding: 0;
 	background: #FFF;
 	position: relative;
	border-top: 2px dotted #A8A8A8;
	text-align: center;
 	height: 60px;
	clear: both;
}

#bottom2 {
	margin: 75px 0px 0px 0px;
	padding: 0;
 	background: #FFF;
 	position: relative;
	border-top: 2px dotted #A8A8A8;
	text-align: center;
 	height: 60px;
	clear: both;
}

#bottom-nav {
	margin: 5px 0 0 0;
	font-size: 11px;
	color: #FFF;
}

#bottom-nav a {
	color: #0EBFE9; 
	text-decoration: none;
}

#bottom-nav a:hover {
	color: #0EBFE9;
	text-decoration: underline;
}

#footer {
	/* This is the div for the footer, keep it small and centered.*/
	font-size: 9px;
	color: #0EBFE9;
	line-height: .5em; 
}